body {
  background-color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  color: white;
  font-size: 32px;
}

#login {
  position: absolute;
  top: 2px;
  right: 0;
  width: 187px;
  height: 40px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: inline-block;
  text-align: center;
}

.story-section {
  text-align: left;
  max-width: 1000px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  line-height: 1.6;
}

.input-section {
  width: 100%;
  padding: 20px;
  font-size: 32px;
  box-sizing: border-box;
  position: relative;
}